* {
  margin: 0;
  padding: 0;
}
.maincontent {
  display: grid;
  max-height: 41rem;
}
.img {
  display: flex;
  width: 40vw;
  height: 30rem;
  position: relative;
  left: 11.8rem;
  top: 6rem;
}
.loginpage {
  background-color: rgb(48, 48, 119);
  display: flex;
  width: 40vw;
  height: 30rem;
  position: relative;
  left: 40rem;
  bottom: 24rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.heading {
  padding-left: 1.5rem;
  padding-top: 5px;
  color: white;
}
.form {
  padding: 1.7rem;
  padding-left: 50px;
  padding-top: 26px;
}
input {
  width: 25rem;
  border-style: none;
  height: 1.5rem;
  background-color: transparent;
  border-bottom: 1px solid gray;
  color: gray;
}
input :placeholder-shown {
  color: gray;
}
#signupbtn {
  border-style: none;
  padding: 10px 2rem;
  border-radius: 3px;
  background-color: rgb(38, 139, 255);
  margin-left: 3rem;
  margin-right: 2rem;
  color: white;
  font-size: 12px;
}
.link {
  color: gray;
}
.footer {
  text-align: center;
  font-size: 12px;
  color: gray;
  margin-bottom: 36px;
}
.bold {
  color: white;
}
body {
  background-color: rgba(6, 27, 59, 0.801);
}
